*{
    margin: 0;
    padding: 0;
}

  /* 상단바 전체 스타일*/
nav {
    background: #333;
    height: 100px;
}
/* 상단바 내 왼쪽 이미지 */  
nav ul li img {
    padding: 0;
    list-style: none;
    margin: 0;
    display: flex;
    float: left;
    list-style-type: none;
}
/* 상단바 검색창 */
.search { 
    float:left;
    padding: 10px;
    margin: 10px;
    list-style-type: none;
}
/* 로그인.회원가입 */
nav ul li a {
    color: white;
    float: right;
}
/* 회원가입 로그인 정렬 */
.log_reg{
    list-style-type: none;
}

/* 왼쪽 사이드바 */
.leftside{
        list-style-type: none;
        padding: 0px;
        margin: 0px;
        width: 250px;
        background: #cececee5;
        height: 700px;
        overflow: auto;
        position: static;
        float:left;
        
}
.collapse {
    display: none;
}

.under {
    background: #f0f0f0e5;
}

.show {
  display: block;
}
ul a {
  text-decoration: none;
  padding: 15px;
  display: block;
  color: #000;
  font-weight: bold;
}

.notp {
  list-style-type: none;
  padding : 10px
}

ul a:hover {
    background: #333;
    color: #fff;
  }
  
ul a.home {
    background : #333;
    color: #fff;
  }

  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    
}

.category-container {
    background-color: white;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.product {
    width: calc(25% - 20px);
    margin: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    box-sizing: border-box;
}

.product img {
    width: 100%;
    height: auto;
}

h1, h2, .price {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

h2 {
    margin: 10px 0;
}

.price {
    color: #007bff;
}

